@font-face {
  font-family: 'Mulish-Black';
  src:  url('../public/fonts/Mulish-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish-Bold';
  src:  url('../public/fonts/Mulish-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish-ExtraBold';
  src:  url('../public/fonts/Mulish-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish-Light';
  src:  url('../public/fonts/Mulish-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish-ExtraLight';
  src:  url('../public/fonts/Mulish-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Mulish-Regular';
  src:  url('../public/fonts/Mulish-Regular.ttf') format('truetype');
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
}



.sidebar {
  position: relative;
  background-color: #fff;
  height: 100vh;
  width: 90px;
  z-index: 10;
  text-align: center;


}

.sidebar li:nth-child(1) {
  padding: 15px 0px;
  margin: 0px 15px;
}


/* .sidebar li:hover:nth-child(1) {
  padding: 30px 0px;
  background-color: transparent;
  color: #000;
} */

.sidebar li {
  padding: 15px 0px;
  margin: 0px 15px;
  cursor: pointer;
  transition: all 0.5s;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
}

.sidebar li span:nth-child(1) {
  font-size: 20px;
}

.sidebar li span:nth-child(2) {
  font-size: 10px;
}

/* .sidebar li:hover{
  background-color:#f2f2f2;
  padding:12px;
   
} */


.main-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.left-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  margin-right: 50%;

}

.right-navbar {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
}

.Navbar {
  width: 100%;
  height: 100%;

}

.page-design {
  display: grid;
  grid-template-columns: 0.1fr 1.7fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 1px 2px;
  grid-auto-flow: row;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "Navbar Navbar Navbar"
    "Sidbar Content Content"
    "Sidbar Content Content"
    "Sidbar Content Content";
}

.Navbar {
  grid-area: Navbar;
}

.Sidbar {
  grid-area: Sidbar;
}

.Content {
  grid-area: Content;
  background-color: #fcfcf7;
}

.left-navbar-image {
  border-radius: 20%;
  width: 40px;
  height: 40px;
  background-color: #E2E2EA;
  color: #E2E2EA;
  ;
}
.right-navbar-image{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #E2E2EA;
  color: #E2E2EA;
}

.main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.setting {
  margin-top: 100vh;
}

.home-navbar {
  color: #92929d;
  font-family: Mulish-Regular;
}

.home-all-navbar {
  color: #11142d;
  font-family: Mulish-Regular;
}

.home-hr {
  background-color: #E2E2EA;
  border: none;
  display: block;
  height: 4px;
  overflow: visible;
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.home-hr:before {
  background-color: #5541d7;
  content: '';
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 20%;
  z-index: 1;
}

.home-search {


  margin-left: 50px;
  background: url("../public/icons/SEARCH.svg") no-repeat left;
  background-size: 25px;
  width: 90%;
  background-color: #fcfcf7;
  margin-top: 30px;
  height: 5vh;
  border: none
}

.home-search {
  text-indent: 5%;
}

::placeholder {
  color: #92929d;
  opacity: 1
}

.navbar-cashier {
  font-size: x-small;
  color: #92929d;
  font-family: Mulish-light;
}

.table-item {
  width: 25%;
}

.row-detail {
  margin-right: 50%;
  margin-top: 5%;
  font-family: Mulish-Bold;
  color: #5541d7;
}

.customer-search {
  margin-left: 50px;
  background: url("../public/icons/SEARCH.svg") no-repeat left;
  background-size: 25px;
  width: 80%;
  background-color: #fcfcf7;
  margin-top: 30px;
  height: 5vh;
  border: none
}

.customer-search {
  text-indent: 5%;
}
.left-title-navbar{
  font-family: Mulish-Bold;
}
.right-title-navbar{
  font-family: Mulish-Bold;
}
.food-title{
  font-family: Mulish-Bold;
}
.drinks-title{
  font-family: Mulish-Bold;
}
.customer-row{
  font-family: Mulish-Bold;
}
.main-customer-title{
  font-family: Mulish-Bold;
}
.card-name-home{
  font-family: Mulish-Black;
}